---
import * as m from "@paraglide/messages.js";
import Socials from "./Socials.astro";
import { Image } from "astro:assets";
import coaLogo from "/public/assets/images/coa-logo-coloured.svg";
const year = new Date().getFullYear();
---

<footer
    data-pagefind-ignore
    class="flex flex-col min-h-96 justify-between px-4 sm:px-8 lg:px-21 pb-4 pt-8 sm:pt-16 lg:pt-21 bg-black gap-6 sm:gap-12"
>
    <div class="flex flex-row justify-between items-start">
        <div class="flex flex-col gap-2 sm:gap-4">
            <span class="font-noto text-pearl text-2xl sm:text-3xl lg:text-4xl">{m.siteName()}</span>
            <span class="font-barlow text-jonquil text-lg sm:text-xl lg:text-2xl">{m.slogan()}</span>
        </div>
        <a href="/" class="hidden sm:block mr-4 sm:mr-8 lg:mr-16">
            <Image src={coaLogo} alt="Coptic Orthodox Answers" class="sm:w-20 lg:w-28 h-auto" />
        </a>
    </div>
    <div class="flex flex-col gap-4">
        <Socials class="flex flex-row gap-4" dark />
        <hr class="text-pearl w-full" />
        <div class="flex flex-col sm:flex-row sm:justify-between gap-1">
            <span class="text-pearl text-x-tiny lg:text-sm font-barlow">{m.copyright({ year })}</span>
            <span class="text-pearl text-x-tiny lg:text-sm font-barlow text-left sm:text-right">
                {m.dioceseCredit()}
                <a href="https://eccopts.ca" target="_blank" rel="noopener noreferrer" class="hover:underline">
                    {m.dioceseName()}
                </a>
            </span>
        </div>
    </div>
</footer>
