---
import { Image } from "astro:assets";
import type { PodcastItem } from "@utils/podcasts";
import Banner from "@components/Banner.astro";
import * as m from "@paraglide/messages.js";

interface Props {
    podcasts: PodcastItem[];
}

const { podcasts } = Astro.props;
---

<Banner image="/assets/images/podcast-banner.webp" description={m.podcastsBannerDesc()} />
<div
    class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-14 sm:gap-8 lg:gap-8 px-4 pt-8 sm:px-8 lg:px-12 lg:pt-12 xl:px-19 xl:pt-19"
>
    {
        podcasts?.map((podcast, i) => (
            <a class="group block" href={`/podcasts/${podcast.slug}`}>
                <div class="aspect-video overflow-hidden rounded-lg">
                    <Image
                        src={podcast.thumbnail}
                        alt={podcast.title}
                        width={480}
                        height={270}
                        class="w-full h-full object-cover transition-transform duration-300 group-hover:scale-105"
                        loading={i < 8 ? "eager" : "lazy"}
                    />
                </div>
                <div class="flex flex-col pt-4">
                    <span class="group-hover:underline group-hover:underline-offset-4 font-barlow text-xl sm:text-2xl md:text-base lg:text-base xl:text-lg 2xl:text-2xl text-pearl line-clamp-2">
                        {podcast.title}
                    </span>
                    <span class="font-barlow text-base md:text-xs lg:text-xs xl:text-sm 2xl:text-base text-jonquil mt-2">
                        {podcast.publishedAt}
                    </span>
                </div>
            </a>
        ))
    }
</div>
