---
import { type InferEntrySchema, type RenderedContent } from "astro:content";
const { posts } = Astro.props;
type Post = {
    id: string;
    body?: string;
    collection: "posts";
    data: InferEntrySchema<"posts">;
    rendered?: RenderedContent;
    filePath?: string;
};
---

<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 sm:gap-8 lg:gap-14 p-8 lg:p-21">
    {
        posts.map((post: Post, index: number) => {
            const isLastItem = index === posts.length - 1;
            const isOddItems = posts.length % 2 === 1;
            return (
                <a
                    class={`group block ${isLastItem && isOddItems ? "sm:col-span-2 sm:max-w-[50%] sm:mx-auto" : ""}`}
                    href={`/${post.id}`}
                >
                    <div class="aspect-video overflow-hidden rounded-lg">
                        <img
                            src={post.data.imgSrc}
                            class="w-full h-full object-cover transition-transform duration-300 group-hover:scale-105"
                            alt={post.data.title}
                        />
                    </div>
                    <div class="flex flex-col pt-4">
                        <div class="flex flex-col sm:flex-row sm:justify-between gap-2 sm:gap-0">
                            <span class="group-hover:underline group-hover:underline-offset-4 font-barlow text-lg sm:text-xl text-pearl line-clamp-2">
                                {post.data.title}
                            </span>
                            <div class="flex flex-wrap gap-2 sm:gap-0">
                                {post.data.tags?.map((tag) => {
                                    return (
                                        <span class="sm:ml-4 px-2 py-1 max-h-min rounded-lg bg-madder text-white text-xs sm:text-sm">{`#${tag}`}</span>
                                    );
                                })}
                            </div>
                        </div>
                        <span class="font-barlow text-xs text-pearl mt-2">
                            {post.data.pubDate.toDateString().split(" ").slice(0, 4).join(" ")}
                        </span>
                    </div>
                </a>
            );
        })
    }
</div>
