---
import Main from "@layouts/Main.astro";
import PostsGrid from "@components/PostsGrid.astro";
import Pagination from "@components/Pagination.astro";

const { posts, page, title } = Astro.props;
const currentPath = new URL(Astro.request.url).pathname;
// Remove any page numbers from the path
const baseUrl = currentPath.replace(/\/\d+$/, "");
---

<Main title={title}>
    <div class="bg-gray">
        <PostsGrid posts={posts} />
        <Pagination currentPage={page.currentPage} totalPages={page.lastPage} baseUrl={baseUrl} />
    </div>
</Main>
